@page
@model School.Pages_Abouts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>About</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="About.ID" />
            <div class="form-group">
                <label asp-for="About.Name" class="control-label"></label>
                <input asp-for="About.Name" class="form-control" />
                <span asp-validation-for="About.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About.HeadName" class="control-label"></label>
                <input asp-for="About.HeadName" class="form-control" />
                <span asp-validation-for="About.HeadName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About.Established" class="control-label"></label>
                <input asp-for="About.Established" class="form-control" />
                <span asp-validation-for="About.Established" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About.Area" class="control-label"></label>
                <input asp-for="About.Area" class="form-control" />
                <span asp-validation-for="About.Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About.Fees" class="control-label"></label>
                <input asp-for="About.Fees" class="form-control" />
                <span asp-validation-for="About.Fees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About.Buildings" class="control-label"></label>
                <input asp-for="About.Buildings" class="form-control" />
                <span asp-validation-for="About.Buildings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About.Rating" class="control-label"></label>
                <input asp-for="About.Rating" class="form-control" />
                <span asp-validation-for="About.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
