@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var Username = "Onkardeep Singh";
}

<div class="text-center">
    <h1 class="display-4">School</h1>
    <h3>My Name is: @Username</h3>
    <h3>Current Date is: @DateTime.Now</h3>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
